PORT=4000

APP_DOMAIN=http://localhost:4000

PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASS=password
PG_NAME=auth
PG_SSL=disable

NATS_HOST=nats
NATS_PORT=4222
NATS_NAME=SERVICE_STREAM
NATS_CHAN=service

JWT_SECRET=NxW/0p1u6Y3FO3z/7U/sCzaqmZM919VJfH1qD379kt0=

MIGRATION_PATH=migrations
